<div class="page">
  <div class="content">
    <div class="left">
      <h1>Alvin Tan</h1>
      <h3>Software Engineer</h3>
      <h5>
        Transforming creative concepts into high-impact, business-driven
        solutions
      </h5>
      <div class="buttons">
        <app-styled-button
          title="GitHub"
          class="primary"
          [onClick]="redirectToGitHub"
        ></app-styled-button>
        <app-styled-button
          title="CV"
          class="secondary"
          [onClick]="redirectToCV"
        ></app-styled-button>
      </div>
    </div>
    <div class="right">
      <img src="assets/Hero.png" />
    </div>
  </div>

  <div class="footer">
    <app-next-page title="Projects"></app-next-page>
  </div>
</div>
