.page {
  height: 100%;
  background-color: var(--platinum);
}

.content {
  height: 92%;
  width: auto;
  display: flex;
  justify-content: space-around;
}

.left {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10%;
}
.buttons {
  padding-top: 8%;
}
app-styled-button {
  padding-right: 18px;
}

.right {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-height: 100%;
  max-width: 100%;
}

.footer {
  height: 8%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
