@media only screen and (max-width: 480px) {
  .page {
    height: 100%;
    width: auto;
    background-color: var(--platinum);
  }

  .content {
    height: 92%;
    width: auto;
    display: flex;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
  }
  .buttons {
    align-self: center;
    padding-top: 8%;
  }
  app-styled-button {
    padding: 0 8px 0 8px;
  }

  .right {
    width: 65%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  img {
    display: none;
    max-height: 100%;
    max-width: 100%;
  }

  .footer {
    height: 8%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 481px) {
  .page {
    height: 100%;
    background-color: var(--platinum);
  }

  .content {
    height: 92%;
    width: auto;
    display: flex;
    justify-content: space-around;
  }

  .left {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10%;
  }
  .buttons {
    padding-top: 8%;
  }
  app-styled-button {
    padding: 0 8px 0 8px;
  }

  .right {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  img {
    max-height: 100%;
    max-width: 100%;
  }

  .footer {
    height: 8%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
