<div class="tile" [style.background-image]="'url(imgSrc)'">
  <img [src]="imgSrc" [alt]="imgAlt" />
  <div class="content">
    <h3>{{ title }}</h3>
    <body>
      {{ description }}
    </body>
    <div class="actions">
      <app-styled-button
        [title]="btn1Title"
        class="inverted"
        [onClick]="btn1OnClick"
      ></app-styled-button>
      <app-styled-button
        [title]="btn2Title"
        class="inverted"
        [onClick]="btn2OnClick"
      ></app-styled-button>
    </div>
  </div>
</div>
