div {
  width: fit-content;
  display: block;

  :hover {
    cursor: pointer;
  }
}

body {
  text-align: center;
  background-color: transparent;
}
.text {
  margin: auto;
  background-color: transparent;
}

.icon {
  margin: auto;
}
