<div class="page">
  <div class="content">
    <div class="left">
      <div class="left-content">
        <div class="motif">
          <h3>Let's get in touch</h3>
          <img class="arrow" src="assets/icons/arrow-right-24.svg" />
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <div class="detail">
          <small>Email</small>
          <h5>{{ email }}</h5>
        </div>
        <div class="detail">
          <small>GitHub</small>
          <a [href]="github_url">
            <h5>{{ github }}</h5>
          </a>
        </div>
        <div class="detail">
          <small>LinkedIn</small>
          <a [href]="linkedin_url">
            <h5>{{ linkedin }}</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
