<div class="page">
  <div class="content">
    <div class="left">
      <div class="left-content">
        <h1>Ready to Create?</h1>
        <div class="motif">
          <h5>Let's get in touch</h5>
          <img class="arrow" src="assets/icons/arrow-right-24.svg" />
        </div>
      </div>
    </div>
    <div class="right">
      <div class="right-content">
        <div class="detail">
          <h5>Email</h5>
          <h4>{{ email }}</h4>
        </div>
        <div class="detail">
          <h5>GitHub</h5>
          <h4>{{ github }}</h4>
        </div>
        <div class="detail">
          <h5>LinkedIn</h5>
          <h4>{{ linkedin }}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <img class="badge" src="assets/aws-saa-certified.png" />
    <img class="badge" src="assets/microsoft-azure-developer-certified.png" />
  </div>
</div>
