@media only screen and (max-width: 480px) {
  .page {
    height: 100%;
    width: auto;
    background-color: var(--onyx);
  }

  .content {
    height: 100%;
    width: auto;
  }

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-content {
    width: 75%;
  }

  .motif {
    padding: 48px 0 24px 0;

    h3 {
      width: 75%;
      color: #ffffff;
      margin: 0;
    }

    .arrow {
      display: none;
    }
  }

  .right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .right-content {
    width: 75%;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 0 24px 0;

    h5 {
      color: var(--timberwolf);
      text-align: start;
      margin: 0;
    }

    h4 {
      color: #ffffff;
      margin: 4px 0 0 0;
    }
  }
}

@media only screen and (min-width: 481px) {
  .page {
    height: 100%;
    width: auto;
    background-color: var(--onyx);
  }

  .content {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: space-around;
  }

  .left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  .left-content {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ffffff;
  }

  .motif {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;

    h3 {
      width: 50%;
      color: #ffffff;
      text-align: right;
      margin: 0;
      padding: 0;
      padding-right: 8px;
    }

    .arrow {
      height: auto;
      margin-left: 24px;
    }
  }

  .right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .right-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 136px;
  }

  .detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 24px 0 24px 0;

    h5 {
      color: var(--timberwolf);
      text-align: start;
      margin: 0;
    }

    h4 {
      color: #ffffff;
      margin: 4px 0 0 0;
    }
  }
}
