@media only screen and (max-width: 480px) {
  .tile {
    height: 46%;
    width: 98%;
    padding: 1%;
  }
}

@media only screen and (min-width: 1000px) {
  .tile {
    height: 46%;
    width: 48%;
    padding: 1%;
  }
}

.container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .grid {
      height: 100%;
      width: 99%;
      display: flex;
      flex-wrap: wrap;
    }

    .nav-button {
      cursor: pointer;
      display: flex;
      align-items: center;

      img {
      }
    }
  }

  .page-indicator {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .dots {
      display: flex;
      flex-direction: row;

      .dot {
        height: 8px;
        width: 8px;
        border-radius: 8px;
        margin: 8px 4px 8px 4px;
        background-color: var(--ash-gray);
      }
    }
  }
}
