button {
  height: 48px;
  width: 126px;
  border: 0;
  border-radius: 48px;
  font-family: "Manrope";
  font-size: medium;
  letter-spacing: normal;
}

.primary {
  color: #ffffff;
  background-color: var(--onyx);

  :hover {
    color: #ffffff;
    background-color: var(--feldgrau);
    cursor: pointer;
  }

  :active {
    color: var(--onyx);
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--onyx);
  }
}

.secondary {
  color: var(--onyx);
  border-color: var(--onyx);
  background-color: transparent;
  border: 1px solid;
  border-color: var(--onyx);

  :hover {
    color: #ffffff;
    background-color: var(--feldgrau);
    cursor: pointer;
    border: 1px solid;
    border-color: var(--feldgrau);
  }

  :active {
    color: var(--onyx);
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--onyx);
  }
}
