button {
  height: 48px;
  width: 126px;
  border: 0;
  border-radius: 48px;
  font-family: "Manrope";
  font-size: medium;
  letter-spacing: normal;
}

.primary {
  color: #ffffff;
  background-color: var(--onyx);
}
.primary:hover {
  color: #ffffff;
  background-color: var(--feldgrau);
  cursor: pointer;
}
.primary:active {
  color: var(--onyx);
  background-color: var(--ash-gray);
}

.secondary {
  color: var(--onyx);
  border-color: var(--onyx);
  background-color: transparent;
  border: 1px solid;
  border-color: var(--onyx);
}
.secondary:hover {
  color: #ffffff;
  background-color: var(--feldgrau);
  cursor: pointer;
}
.secondary:active {
  color: var(--onyx);
  background-color: var(--ash-gray);
  border: none;
}

.inverted {
  color: white;
  border-color: white;
  background-color: transparent;
  border: 1px solid;
  border-color: white;
}
.inverted:hover {
  color: #ffffff;
  background-color: var(--feldgrau);
  cursor: pointer;
  border: none;
}
.inverted:active {
  color: var(--onyx);
  background-color: var(--ash-gray);
  border: none;
}
